OPENAI_API_KEY=your_openai_api_key
VAULT_DIR=./vault
CHROMA_DIR=./chroma_db
TRACKER_PATH=./brain_chat/embedded_files.json
# Set to true in Railway only if you want startup to build embeddings automatically
AUTO_INGEST_ON_STARTUP=false
